[Unit]
Description=Game server for BeamNG.drive
After=network.target

[Service]
Type=simple
ExecStart=/home/beammp/BeamMP-Server/bin/BeamMP-Server
WorkingDirectory=/home/beammp/BeamMP-Server/bin/
User=beammp
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/BeamMP.log
StandardError=append:/var/log/BeamMP.log
Environment="SUDO_ASKPASS=/bin/true"

[Install]
WantedBy=multi-user.target
