[Unit]
Description=Suivi des connexions BeamMP + notification Discord
After=network.target

[Service]
Type=simple
User=beammp
WorkingDirectory=/home/beammp/script/
ExecStart=/home/beammp/script/joueurs.out

Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
